.contacts__address {
  padding: 26px 20px;
}

.contacts__addres {
  background-color: #f2f2f2;
}

.contacts__address--index {
  background-color: #ffffff;
}

.contacts__address-title {
  color: #111111;
  text-transform: uppercase;
}

.contacts__address-description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
