.contacts__address {
  display: grid;
  grid-template-columns: 1fr 140px 140px 1fr;
  width: 100%;
  padding: 26px 20px;
  background-color: #f2f2f2;
}

.contacts__address--index {
  background-color: #ffffff;
}

.contacts__address-title {
  grid-column: 2 / 3;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address-description {
  flex: 1;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  border: none;
  display: block;
  width: 100%;
  min-height: 362px;
  max-height: 400px;
  object-fit: cover;
}

.contacts__map--nojs {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/location-mobile.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/location-mobile-2x.png");
  }
}

@media (min-width: @tablet-width) {
  .contacts__address {
    grid-template-columns: 1fr 314px 314px 1fr;
    padding: 60px 70px;
  }

  .contacts__address-title {
    max-width: 165px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address-description {
    max-width: 165px;
    justify-self: end;
    text-align: end;
    font-size: 16px;
  }

  .contacts__map {
    min-height: 400px;
  }

  .contacts__map--nojs {
    background-image: url("../img/location-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-tablet-2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 95px max-content 106px max-content;
  }

  .contacts__address {
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 3;
    max-width: max-content;
    grid-row: 2 / 3;
    top: 95px;
    left: 110px;
    width: auto;
    gap: 87px;
    padding: 60px 74px 60px 80px;
    background-color: #ffffff;
    z-index: 3;
  }

  .contacts__address-title {
    grid-column: 1;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address-description {
    text-align: start;
    font-size: 16px;
  }

  .contacts__map {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    height: 400px;
  }

  .contacts__map--nojs {
    background-image: url("../img/location-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-desktop-2x.png");
    }
  }
}
