.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  display: flex;
  align-items: center;
  gap: 23px;
}

.copyright__link path {
  fill: #666666;
}

.copyright__link:hover path,
.copyright__link:active path {
  fill: #68b738;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright {
    gap: 23px;
    justify-content: end;
  }
}
