.copyright {
  width: 100%;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
  width: 100%;
  text-decoration: none;
  font-family: "Lato", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.copyright__logo {
  fill: #666666;
}

.copyright__link:hover .copyright__logo,
.copyright__link:active .copyright__logo {
  fill: #68b738;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    justify-content: end;
  }
}
