.example-data {
  display: flex;
  gap: 32px;
}

.example-data__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 124px;
  max-width: 162px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example-data__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.example-data__description {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 77px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
}

@media (min-width: @tablet-width) {
  .example-data {
    gap: 43px;
  }

  .example-data__item {
    height: 72px;
  }

  .example-data__title {
    font-size: 30px;
    line-height: 37px;
  }

  .example-data__description {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: @desktop-width) {
  .example-data__title {
    font-size: 30px;
    line-height: 37px;
  }

  .example-data__description {
    font-size: 14px;
    line-height: 14px;
  }
}
