.extra {
  padding: 26px 20px;
}

.extra__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra__list {
  padding-left: 0;
  list-style-type: none;
}

.extra__item {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;
}

.extra__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.extra__params {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra__quantity {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extra__price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.extra__button {
  width: 100%;
}
