.form {
  padding-bottom: 32px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  margin: 0;
  border: none;
  min-width: unset;
}

.form__label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__input {
  flex: 1;
  height: 45px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__cat-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__fieldset--goal {
  padding: 22px 0 19px;
}

.form__fieldset--contacts {
  padding-top: 26px;
  gap: 35px;
}

.form__contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form__fieldset--comment {
  padding-top: 24px;
  gap: 38px;
}

.form__textarea {
  min-width: 280px;
  min-height: 150px;
  resize: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__fieldset--extra {
  padding-top: 23px;
  gap: 34px;
}

.form__checkbox {
  text-transform: uppercase;
}

.form__submit {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.form__button {
  width: 100%;
}

.form__note {
  display: block;
  width: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__fieldset-title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .form {
    padding: 0 40px 60px;
  }

  .form__fieldset {
    padding-top: 65px;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__cat-info {
    gap: 72px;
  }

  .form__fieldset--cat {
    flex: 1;
  }

  .form__fieldset--goal {
    padding: 23px 27px 27px;
    border: 1px solid #e7e7e7;
  }

  .form__fieldset--contacts {
    gap: 76px;
    padding-bottom: 0;
  }

  .form__contacts {
    gap: 20px;
  }

  .form__fieldset--comment {
    gap: 87px;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 30px;
  }

  .form__fieldset--extra {
    gap: 57px;
  }

  .form__checkbox-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }

  .form__submit {
    margin-top: 52px;
    flex-direction: row;
    gap: 60px;
  }

  .form__button {
    width: 284px;
  }

  .form__note {
    font-size: 16px;
    width: auto;
  }

  .form__fieldset-title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding: 0 0 79px;
  }

  .form__fieldset {
    padding-top: 70px;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__cat-info {
    flex-direction: row;
    gap: 80px;
  }

  .form__fieldset--goal {
    flex: 1;
  }

  .form__label--email {
    flex: 1;
  }

  .form__label--phone {
    flex: 1;
  }

  .form__contacts {
    flex-direction: row;
    gap: 81px;
  }

  .form__fieldset--comment {
    gap: 78px;
  }

  .form__checkbox-list {
    grid-auto-flow: column;
    grid-template-columns: unset;
  }

  .form__submit {
    margin-top: 60px;
    gap: 80px;
  }

  .form__button {
    width: 570px;
  }

  .form__note {
    font-size: 16px;
  }
}
