.page {
  height: 100%;
}

.page__body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.page__title {
  font-size: 36px;
  line-height: 36px;
}

.page__description {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
}

.page__content {
  padding: 27px 0 32px;
}
