.page {
  height: 100%;
}

.page__body {
  width: 320px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.page__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px;
}

.page__description {
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.page__content {
  padding: 27px 20px 32px;
}
