.products__list {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  padding-left: 0;
  list-style-type: none;
}

.products__list-item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 17px;
  padding: 20px 0 25px;
}

.products__list-item:first-child::before {
  content: " ";
  position: absolute;
  border-top: 1px solid #ebebeb;
  margin-left: -20px;
  top: 0;
  width: 320px;
}


.products__list-item::after,
.products__more::after {
  content: " ";
  position: absolute;
  border-top: 1px solid #ebebeb;
  margin-left: -20px;
  bottom: 0;
  width: 320px;
}

.products__button {
  grid-column: 1 / -1;
  text-decoration: none;
}

.products__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products__image-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__item-title {
  margin-bottom: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}

.products__item-params {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.products__param-name {
  justify-self: start;
}

.products__param-value {
  justify-self: end;
  width: max-content;
}

.products__more {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 125px;
    width: 30px;
    height: 30px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    bottom: -25px;
  }
}

.products__more-title {
  margin: 0;
  margin-top: 78px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.products__more-description {
  margin-bottom: 21px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 84px;
  }

  .products__list-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 210px 157px 40px;
    grid-row-gap: 22px;
    padding: 10px 37px 40px;
    background: linear-gradient(#ffffff 82px, #f2f2f2 82px 511px);
  }

  .products__list-item::before {
    display: none;
  }

  .products__list-item::after,
  .products__more::after {
    display: none;
  }

  .products__item-title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .products__item-params {
    gap: 10px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .products__param-name {
    position: relative;
  }

  .products__param-name::before {
    content: " ";
    position: absolute;
    border-bottom: 1px solid #cdcdcd;
    width: 250px;
    bottom: -5px;
  }

  .products__info {
    margin-bottom: 10px;
  }

  .products__button {
    margin-top: auto;
  }

  .products__more {
    margin-bottom: 0;
    padding: 40px 37px;
    height: 429px;
    align-self: end;
    border: 2px solid #f2f2f2;
    gap: 23px;

    &::before {
      top: 50px;
      left: 132px;
      width: 60px;
      height: 60px;
    }
  }

  .products__more-title {
    margin-top: 120px;
    font-size: 20px;
    line-height: 24px;
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  .products__more-description {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-row-gap: 80px;
    grid-column-gap: 63px;
  }

  .products__item-title {
    font-size: 20px;
    line-height: 24px;
  }

  .products__item-params {
    font-size: 16px;
    line-height: 20px;
  }

  .products__param-name::before {
    width: 169px;
  }

  .products__more::before {
    left: 92px;
  }

  .products__more-title {
    font-size: 20px;
    line-height: 24px;
  }

  .products__more-description {
    font-size: 16px;
    line-height: 18px;
  }
}
