.programs {
  padding: 0 20px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  list-style-type: none;
}

.programs__item {
  padding: 20px;
  padding-right: 33px;
  background-color: #f2f2f2;
}

.programs__title {
  margin: 0 0 30px 70px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  margin-bottom: 38px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programs__button {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
