.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  padding-left: 0;
  list-style-type: none;
}

.social-list__icon {
  fill: #666666;
}

.social-list__icon:hover {
  fill: #68b738;
}

.social-list__icon:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .social-list {
    gap: 26px;
  }
}
